.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

q:before {
  content: "“";
}
q:after {
  content: "”";
}

blockquote {
  margin: 5em 1em 1em 2em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: .5px;
}

.slide dl.tight dt,
.slide dl.tight dd {
  margin-top: 0;
}
